/* HEADER - INICIO */
body {
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
}

.navbar {
  background-color: #152FBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.buscar:focus {
  outline: none;
}

.images-pages {
  position: fixed;
  top: 85px;
  right: 10px;
  z-index: 2;
}

.pokebola {
  width: 50px;
  object-fit: contain;
  filter: brightness(55%) drop-shadow(0px 0px 5px black);
}

.contador-pages {
  position: fixed;
  z-index: 3;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER - FIN */
/* CARDS - INICIO */
.card {
  border: none;
  background-color: #F6EB22;
  box-shadow: 2px 2px 5px #FB993E, -2px -2px 5px #FB993E;
}

.contenedor-imagenes {
  display: grid;
  grid-template-columns: 1fr;
}

.card-img-top {
  height: 300px;
  object-fit: contain;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  text-align: center;
}

.titulo-habilidades {
  margin-top: 30px;
  color: #152FBB;
}

.contenedor-habilidades {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: -30px;
  color: black;
  font-family: "Lugrasimo";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

/* CARDS - FIN */
/* BOTONES NEXT/PREV - INICIO */
.contenedor-botones {
  position: fixed;
  bottom: 35px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pages {
  height: 40px;
  width: 80px;
  cursor: pointer;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.volver-index {
  height: 40px;
  width: 80px;
  cursor: pointer;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background-image: url("../imagenes/pikachu-boton-prev.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BOTONES NEXT/PREV - FIN */
/* MODAL - INICIO */
.modal-header {
  justify-content: center;
  border: none;
}

.modal-title {
  font-size: 20px;
  color: #152FBB;
  font-weight: bold;
}

.modal-body {
  box-shadow: 0px 0px 10px #FB993E;
  margin: 0 15px;
}

.button-modal {
  background-image: url("../imagenes/charizard-boton-next.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 80px;
}

.modal-footer {
  border: none;
}

/* MODAl - FIN */
.mostrar-contenedor {
  padding-top: 20px;
  position: relative;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 450px;
  height: 620px;
  text-align: center;
}

.mostrar-id {
  position: absolute;
  top: 0px;
  right: 6px;
  color: #152FBB;
  font-weight: bold;
  font-size: 20px;
}

.mostrar-habilidades {
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
