/* CARDS - INICIO */
.card {


    border: none;
    background-color: $color-principal;
    box-shadow: 2px 2px 5px #FB993E, -2px -2px 5px #FB993E;


}

.contenedor-imagenes {

    display: grid;

    grid-template-columns: 1fr;

  

}

.card-img-top {

    height: 300px;
 
    object-fit: contain;


    
}

.card-title {

    font-size: 20px;
    font-weight: bold;

}

.card-body {

    text-align: center;

}

.titulo-habilidades {

    margin-top: 30px;

    color: $color-fondo;

}

.contenedor-habilidades {

    display: flex;

    justify-content: space-around;
    align-items: center;

    text-align: center;

    flex-wrap: wrap;

    margin-top: -30px;

    color: black;

    font-family: "Lugrasimo";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
   
}

/* CARDS - FIN */