/* HEADER - INICIO */

.navbar{

    background-color: red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 100px;
    
}



.images-pages {

    position: fixed;
    top: 85px;
    right: 10px;

    z-index: 2;

 

}

.pokebola {

    width: 50px;
    object-fit: contain;
    filter:brightness(55%) drop-shadow(0px 0px 5px black);
    
    

}

.contador-pages {

    position: fixed;

    z-index: 3;

    color: #fff;

    font-size: 22px;
    font-weight: bold;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    

}

/* HEADER - FIN */